<button kendoButton (click)="addChart()">Add new chart</button>
<button kendoButton (click)="addList()">Add new List</button>
<button kendoButton (click)="groupDialog = true">Create group</button>
<kendo-tilelayout
  [columns]="2"
  [resizable]="true"
  [reorderable]="true"
>
  <kendo-tilelayout-item *ngFor="let tile of tiles; let i = index"
                         [col]="getCol(i)">
    <ng-template appTile>
    </ng-template>

    <p>Choose a group:</p>
    <kendo-dropdownlist [data]="groups"></kendo-dropdownlist>
  </kendo-tilelayout-item>
</kendo-tilelayout>

<kendo-dialog
  title="Please confirm"
  *ngIf="groupDialog"
  (close)="groupDialog = !groupDialog"
  [minWidth]="250"
  [width]="450"
>
  <p style="margin: 30px; text-align: center;">
    Enter group name
  </p>

  <input type="text" [(ngModel)]="newGroupName">

  <kendo-dialog-actions>
    <button kendoButton (click)="save()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
